services:
  postgres:
    image: postgres:{{ postgres_version }}
    container_name: postgres
    environment:
      POSTGRES_DB: {{ db_name }}
      POSTGRES_USER: {{ db_user }}
      POSTGRES_PASSWORD: {{ postgres_pass }}
    volumes:
      - ./scripts:/scripts:ro
      - /srv/backups/postgres:/backups/postgres:rw
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ db_user }}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgbouncer:
    image: edoburu/pgbouncer:v1.25.1-p0
    #pgbouncer/pgbouncer:latest
    container_name: pg_bouncer
    environment:
      DATABASES_HOST: postgres
      DATABASES_PORT: 5432
      DATABASES_USER: {{ db_user }}
      DATABASES_PASSWORD: {{ postgres_pass }}
      PGBOUNCER_LISTEN_PORT: {{ pgbouncer_listen_port }}
    ports:
      - "{{ pgbouncer_listen_addr }}:{{ pgbouncer_listen_port }}:{{ pgbouncer_listen_port }}"
    volumes:
      - ./pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:ro
      - ./userlist.txt:/etc/pgbouncer/userlist.txt:ro
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h postgres -U {{ db_user }} -d {{ db_name }}"]
      interval: 10s
      timeout: 5s
      retries: 5
