[databases]
mydb = host=postgres port=5432 dbname={{ db_name }} user={{ db_user }} password={{ postgres_pass }}

[pgbouncer]
listen_port = {{ pgbouncer_listen_port }}
listen_addr = *
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
pool_mode = transaction
max_client_conn = 100
default_pool_size = 100
reserve_pool_size = 20